.block-phone {
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
        text-decoration: none;
        &.number {
            color: #000;
            font-size: 20px;
            &:hover {
                color: #889E31;
            }
        }
        &.button {
            @extend .element__BUTTON;
            margin-top: 10px;
        }
    }
}