.block-shop-item {
    align-items: center;
    background: #FFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 0;
    &:hover {
        border-color: #CCC;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, .25);
    }
    .image {
        border-radius: 50%;
        height: 250px;
        margin-bottom: 20px;
        overflow: hidden;
        width: 100%;
        img {
            display: inline-block;
            height: auto;
            max-width: 100%;
            vertical-align: bottom;
            width: auto;
        }
    }
    .text {
        font-size: 13px;
        margin: 10px 0;
    }
    .bottom {
        margin-top: auto;
        padding-bottom: 25px;
        position: relative;
        width: 100%;
        .price {
            color: #333;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            padding: 10px 0;
            text-transform: uppercase;
        }
    }
    a {
        text-decoration: none;
        &.name {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            height: 45px;
            margin-bottom: 10px;
            text-transform: uppercase;
            &:hover {
                color: $cl_green;
            }
        }
        &.button {
            @extend .element__BUTTON;
            font-size: 16px;
            left: 20px;
            position: absolute;
            right: 20px;
            text-transform: uppercase;
        }
    }
}