.block-window-dialog {
    display: none;
    padding: 0;
    .content {
        // padding: 20px;
        .title {
            background: #FAFAFA;
            border-bottom: 1px solid #CCC;
            font-size: 16px;
            padding: 20px 50px 20px 20px;
            text-transform: uppercase;
        }
        .body {
            padding: 20px;
            form {
                input {
                    @extend .element__INPUT;
                    margin-bottom: 15px;
                }
                button {
                    @extend .element__BUTTON;
                    font-size: 16px;
                    width: 100%;
                }
            }
        }
    }
    .fancybox-close-small {
        top: 10px;
    }
}