.map-style {
    font-size: 14px;
    a {
        border-bottom: 1px dashed #333;
        color: #333;
        display: inline-block;
        margin-top: 3px;
        padding-bottom: 2px;
        text-decoration: none;
        &:hover {
            border-bottom-color: transparent;
        }
    }
}

.swal-overlay--show-modal {
    z-index: 100000;
    .swal-footer {
        text-align: center;
        .swal-button {
            @extend .element__BUTTON;
        }
    }
}