<footer id="section-footer">
    <div class="container">
        <div class="row">
            <div class="about">
                <div class="logotype">
                    <a href="/">
                        <img src="http://pitomnik-rb.ru/images/logo.png" alt="Logotype">
                    </a>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#" title="Мы вКонтакте"><i class="fa fa-vk"></i></a>
                        </li>
                        <li>
                            <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contacts">
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="content"> Россия, г. Уфа, п. Зинино, ул. Строительная 1Д
                    </div>
                </div>
                <div class="item">

                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="content">
                        <a href="mailto:krupnomer-rb@yandex.ru">krupnomer-rb@yandex.ru</a>
                    </div>
                </div>
                <div class="item">
                    <div class="icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Пн-Пт: 08:00-19:00</li>
                            <li>Сб: 09:00-17:00</li>
                            <li>Вc: Выходной</li>
                            <li>Обед: 14:00-15:00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navigation">
                <div class="title">Навигация</div>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/katalog/">Каталог</a></li>
                    <li><a href="/nashi_raboty/">Наши работы</a></li>
                    <li><a href="/rabotaem/">Как мы работаем</a></li>
                    <li><a href="/poleznaya_informaciya/">Полезная информация</a></li>
                    <li><a href="/contacts/">Контакты</a></li>
                </ul>
            </nav>
            <div class="block-phone">
                <a href="tel:+73472669545" class="number">
                    +7 (347) 266-95-45 
                </a>
                <a href="#modal-feedback" class="button" data-fancybox data-src="#modal-feedback">
                    Заказать звонок
                </a>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="container">
            &copy;2018. Все права защищены
        </div>
    </div>
</footer>

<div class="block-window-dialog" id="modal-feedback">
    <div class="content">
        <div class="title">Заявка на обратный звонок</div>
        <div class="body">
            <form action="#" onsubmit="sendCallback(this); return false;">
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Укажите Ваш телефон" />
                </div>
                <div class="form-group">
                    <input type="text" name="name" placeholder="Укажите Ваше имя" />
                </div>
                <button class="button" type="submit">Отправить заявку</button>
            </form>

        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/assets/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/assets/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/assets/node_modules/sweetalert/dist/sweetalert.min.js"></script>

<script src="/assets/node_modules/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="/assets/node_modules/inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>

<script src="/js/index.js"></script>
</body>

</html>