#section-about {
    padding: 100px 0;
    .container {
        text-align: center;
        .title {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        .block-static-text {
            font-size: 16px;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
        }
    }
}