#section-catalog {
    background: #EFEFEE;
    padding: 50px 0;
    .container {
        text-align: center;
        .title {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        .items {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px -10px;
            text-align: center;
            .block-shop-item {
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;
                width: calc(25% - 20px);
            }
        }
        a {
            &.more {
                @extend .element__BUTTON_OUTSIDE;
                font-size: 16px;
                font-weight: bold;
                text-shadow: 2px 2px 0 1px rgba(0, 0, 0, .23);
            }
        }
    }
}