#section-feedback {
    background: url('images/callcenter.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    padding: 120px 0;
    &::before {
        background: rgba(0, 0, 0, .8);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }
    .container {
        position: relative;
        text-align: center;
        z-index: 1;
        .title {
            color: #FFF;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;
            text-transform: uppercase;
        }
        .button {
            @extend .element__BUTTON_OUTSIDE_WHITE;
            display: inline-block;
            margin-top: 20px;
        }
    }
}