#section-footer {
    background: #333;
    margin-top: auto;
    >.container {
        background: transparent;
        color: #FFF;
        padding: 40px 0;
        .row {
            align-items: flex-start;
            display: flex;
            justify-content: flex-start;
            margin-left: -30px;
            margin-right: -30px;
            >* {
                margin-left: 30px;
                margin-right: 30px;
            }
            .about {
                .logotype {
                    flex-grow: 1;
                    flex-shrink: 0;
                    margin-bottom: 30px;
                    width: 250px;
                    a {
                        border: none;
                        display: block;
                        text-decoration: none;
                        img {
                            height: auto;
                            max-width: 100%;
                            vertical-align: bottom;
                            width: auto;
                        }
                    }
                }
                .social {
                    margin-top: 20px;
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        li {
                            display: inline-block;
                            margin-left: 10px;
                            &:first-child {
                                margin-left: 0;
                            }
                            a {
                                background: #FFF;
                                color: #333;
                                display: inline-block;
                                font-size: 24px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                width: 40px;
                                &:hover {
                                    background: #98A139;
                                    color: #FFF;
                                }
                            }
                        }
                    }
                }
            }
            .contacts {
                .item {
                    align-items: flex-start;
                    color: #FFF;
                    display: flex;
                    margin-top: 10px;
                    .icon {
                        font-size: 16px;
                        margin-right: 10px;
                        width: 20px;
                    }
                    .content {
                        padding-top: 2px;
                        a {
                            border-bottom: 1px dashed transparent;
                            color: #FFF;
                            padding-bottom: 2px;
                            text-decoration: none;
                            &:hover {
                                border-bottom-color: #FFF;
                            }
                        }
                        ul {
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            li {
                                margin-top: 3px;
                                &:first-child {
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
            .navigation {
                .title {
                    border-bottom: 2px solid #FFF;
                    font-size: 20px;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin-top: 10px;
                        &:first-child {
                            margin-top: 0;
                        }
                        a {
                            border-bottom: 1px dashed transparent;
                            color: #EFEFEF;
                            text-decoration: none;
                            &:hover {
                                border-bottom-color: #FFF;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
            .block-phone {
                margin-left: auto;
                a {
                    &.number {
                        color: #FFF;
                    }
                }
            }
        }
    }
    .copyright {
        background: #000;
        color: #eee;
        padding: 10px 0;
        text-align: center;
    }
}