#section-header {
    .container {
        .row {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-left: -30px;
            margin-right: -30px;
            padding: 20px 0;
            >* {
                margin-left: 30px;
                margin-right: 30px;
            }
            .logotype {
                flex-grow: 1;
                flex-shrink: 0;
                width: 250px;
                a {
                    border: none;
                    display: block;
                    text-decoration: none;
                    img {
                        height: auto;
                        max-width: 100%;
                        vertical-align: bottom;
                        width: auto;
                    }
                }
            }
            .about {
                flex-grow: 0;
                font-size: 20px;
                text-transform: uppercase;
            }
            .block-phone {
                flex-grow: 0;
                width: 350px;
            }
        }
    }
}