#section-home-slider {
    .slider {
        .item {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            position: relative;
            &:before {
                background: rgba(0, 0, 0, .4);
                bottom: 0;
                content: "";
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 0;
            }
            .container {
                align-items: center;
                background: transparent;
                color: #FFF;
                display: flex;
                font-size: 28px;
                height: 100%;
                position: relative;
                text-align: center;
                text-shadow: 2px 2px 5px #000;
                z-index: 1;
            }
        }
    }
}