#section-home-best {
    padding: 40px 0;
    .container {
        text-align: center;
        .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        .elements {
            align-items: stretch;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 60px -20px;
            .item {
                margin-left: 20px;
                margin-right: 20px;
                width: calc(20% - 40px);
                .image {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    height: 50px;
                    margin-bottom: 30px;
                    text-align: center;
                    img {
                        height: auto;
                        max-width: 100%;
                        vertical-align: bottom;
                        width: auto;
                    }
                }
                .text {
                    color: #333;
                    font-size: 14px;
                }
            }
        }
    }
}