#section-home-trigger {
    margin-bottom: 40px;
    margin-top: -70px;
    z-index: 2;
    .container {
        width: 1000px;
        .row {
            align-items: stretch;
            box-sizing: border-box;
            display: flex;
            margin-left: -30px;
            margin-right: -30px;
            >* {
                align-items: center;
                background: rgba(0, 0, 0, .75);
                border: 2px solid #98A139;
                border-radius: 5px;
                box-sizing: border-box;
                color: #FFF;
                display: flex;
                justify-content: flex-start;
                margin-left: 30px;
                margin-right: 30px;
                padding: 20px;
                width: calc(33.33% - 60px);
                .icon {
                    flex-grow: 1;
                    font-size: 55px;
                    margin-right: 10px;
                }
                .content {
                    flex-shrink: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    word-wrap: break-word;
                }
            }
        }
    }
}