#section-navigation {
    background: #96AE33;
    .container {
        background: transparent;
        ul {
            align-items: stretch;
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                flex-grow: 1;
                position: relative;
                text-align: center;
                transition: background .15s ease-in;
                &:before {
                    background: rgba(255, 255, 255, .4);
                    content: "";
                    display: block;
                    height: 10px;
                    left: 0;
                    margin-top: -5px;
                    position: absolute;
                    top: 50%;
                    width: 1px;
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                a {
                    color: #FFF;
                    display: block;
                    font-size: 16px;
                    padding: 10px 20px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:hover,
                &.active {
                    background: #FFF;
                    a {
                        color: #96AE33;
                    }
                    &:before {
                        background: transparent;
                    }
                    +li {
                        &:before {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

.fixed {
    #section-navigation {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
    }
}