#section-reviews {
    padding: 100px 0;
    .container {
        .title {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
        .slider {
            margin: 80px auto 0;
            width: 600px;
            .item {
                text-align: center;
                .image {
                    border: 2px solid #333;
                    border-radius: 50%;
                    height: 200px;
                    margin-left: auto;
                    margin-right: auto;
                    overflow: hidden;
                    width: 200px;
                    img {
                        display: inline-block;
                        height: auto;
                        max-width: 100%;
                        vertical-align: bottom;
                        width: auto;
                    }
                }
                .name {
                    font-size: 24px;
                    margin: 20px auto;
                }
                .text {
                    color: #333;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 1.5;
                }
            }
            &.owl-theme {
                .owl-dots {
                    .owl-dot {
                        span {
                            margin-left: 10px;
                            margin-right: 10px;
                            height: 15px;
                            width: 15px;
                        }
                        &.active,
                        &:hover {
                            span {
                                background: #9DA83A;
                            }
                        }
                    }
                }
                .owl-nav {
                    &.disabled {
                        +.owl-dots {
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
}