html,
body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    a {
        transition: all .15s ease-in;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: $width;
    @media (max-width: $width) {
        overflow: hidden;
        width: 100%;
    }
}