.element__BUTTON {
    background: $cl_green;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #FFF;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .15s ease-in;
    &:hover {
        background: #A2BA35;
    }
}

.element__BUTTON_OUTSIDE_WHITE {
    @extend .element__BUTTON;
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    &:hover {
        border-color: #A2BA35;
    }
}

.element__BUTTON_OUTSIDE {
    @extend .element__BUTTON_OUTSIDE_WHITE;
    background: #FFF;
    border-color: $cl_green;
    color: $cl_green;
    &:hover {
        color: #FFF;
    }
}