.element__INPUT {
    box-sizing: border-box;
    border: 1px solid #CCC;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    &:focus {
        border-color: #333;
    }
}